.idea/.gitignore
.idea/CrowPy.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea
.vscode
discord-bot.code-workspace
configuration.json
venv